* {
    font-family: "karla", "sans-serif";
    margin: 0;
    padding: 0;
}

:root {
    /*Paleta de color*/
    --colorBlanco: #ffffff;
    --colorIndigo-A: #25245a;
    --colorIndigo-B: #59588F;
    --colorIndigo-C: #EEEEFB;
    --colorTeal-A: #30B0C7;
    --colorTeal-B: #A0DBE5;
    --colorTeal-C: #EAF7F9;
    --colorNeutro-A: #1E1E37;
    --colorNeutro-B: #36364D;
    --colorNeutro-C: #9898B2;
    --colorNeutro-D: #F6F7FA;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "section"
        "main"
        "footer";
    gap: 2rem;

}


/*--------------------------------------------------------------------HEADER*/

.navbar-brand {
    font-family: "karla", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--colorIndigo-A);

}

.nav-link {
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--colorNeutro-B);

}

/*Fondo Header*/
.index-header {
    grid-area: header;
    height: 98vh;
    background-image: linear-gradient(45deg,
            var(--colorTeal-A),
            var(--colorIndigo-A));

}

.seccion-index-header {
    margin: 0 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 3rem;
}


h6 {
    font-family: "fraunces", "serif";
    font-variation-settings:
        "SOFT" 50;
    font-weight: 300;
    font-size: 1.6rem;
    font-style: oblique;
    color: var(--colorBlanco);
    display: flex;
    align-self: self-start;
}

h1 {
    font-size: 5.6rem;
    color: var(--colorBlanco);
    font-weight: 900;
    line-height: 5rem;
    text-align: right;
    margin-top: 17rem;

}

.h1-fraunces {
    font-family: "Fraunces", "serif";
    font-variation-settings:
        "SOFT" 50;
    font-style: oblique;
    font-weight: 600;
    font-size: 4.7rem;
}

button {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--colorBlanco);
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border: 1.8px, solid var(--colorBlanco);
    border-radius: 12px;
    margin-top: 1.5rem;
}

.carousel-inner {
    height: 90vh;
}

/*----------------------------------------------------------------Sobre Mi*/

.seccion-sobre-mi {
    grid-area: section;
    margin: 0 5rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
        "contenedor-seccion-sobre-mi imagen-sobre-mi";
    gap: 1rem;

}

/*contenedor secciones "origen" y "habilidades"*/
.contenedor-seccion-sobre-mi {
    grid-area: contenedor-seccion-sobre-mi;

}

/*-----------------------------------SUB-SECCION: ORIGEN*/

.contenedor-seccion-origen {
    position: relative;
}

h3 {
    font-size: 3.4rem;
    color: var(--colorIndigo-A);
    font-weight: 700;
}

.h5-fraunces-origen {
    font-family: "fraunces", "serif";
    font-variation-settings:
        "SOFT" 50;
    font-style: oblique;
    font-size: 2.2rem;
    color: var(--colorIndigo-B);
    font-weight: 400;
    position: absolute;
    top: 3.5rem;
    left: 14rem;
}


.p-sobre-mi {
    margin-top: 3rem;
}

/*--------------------------------SUB-SECCION: HABILIDADES*/

.contenedor-seccion-habilidades {
    margin-top: 4rem;
}

h4 {
    font-family: "fraunces", "serif";
    font-variation-settings:
        "SOFT" 50;
    font-style: oblique;
    font-weight: 400;
    font-size: 2.8rem;
    color: var(--colorIndigo-B);
}

.contenedor-seccion-habilidades-iconos {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
}

/*------------------------------------SUB-SECCION: IMAGEN*/

.imagen-sobre-mi {
    grid-area: imagen-sobre-mi;
    width: 100%;
    height: 28.7rem;
    object-fit: cover;
}

/*----------------------------------------------------------------Proyectos*/

.main-index {
    grid-area: main;
    background-color: var(--colorNeutro-D);
}

.seccion-proyectos {
    margin: 0 5rem;
    display: grid;
    grid-template-columns: 10fr 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "titulo-proyectos boton-proyectos"
        "imagenes-proyectos imagenes-proyectos";
}

.contenedor-seccion-proyectos {
    grid-area: titulo-proyectos;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

}

.h5-fraunces-proyectos {
    font-family: "fraunces", "serif";
    font-variation-settings:
        "SOFT" 50;
    font-style: oblique;
    font-size: 2.2rem;
    color: var(--colorIndigo-B);
    font-weight: 400;
}

.h2-seccion-proyectos {
    font-size: 4.1rem;
    color: var(--colorIndigo-A);
    font-weight: 900;
    align-self: start;
    margin-top: -1rem;
}

.contenedor-seccion-proyectos-boton {
    grid-area: boton-proyectos;
    border-color: var(--colorIndigo-A);
    color: var(--colorIndigo-A);
    margin-top: 5rem;

}

.contenedor-seccion-proyectos-imagenes {
    margin-top: 5rem;
    grid-area: imagenes-proyectos;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "imagenes-proyecto-grupo-1 imagenes-proyecto-grupo-2 imagenes-proyecto-grupo-3";
    gap: 1rem;

}

.contenedor-seccion-proyectos-imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.imagenes-proyecto-grupo-1 {
    grid-area: imagenes-proyecto-grupo-1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas:
        "a1"
        "a2"
        "a3";
    gap: 1rem;
}

.a1 {
    grid-area: a1;
    width: 100%;
    object-fit: cover;
    display: block;
}

.a2 {
    grid-area: a2;
    width: 100%;
    object-fit: cover;
    display: block;
}

.a3 {
    grid-area: a3;
    width: 100%;
    object-fit: cover;
    display: block;
}

.imagenes-proyecto-grupo-2 {
    grid-area: imagenes-proyecto-grupo-2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 25% 25%;
    grid-template-areas:
        "a4"
        "a5"
        "a6";
    gap: 1rem;
}

.a4 {
    grid-area: a4;
    width: 100%;
    object-fit: cover;
    display: block;
}

.a5 {
    grid-area: a5;
    width: 100%;
    object-fit: cover;
    display: block;
}

.a6 {
    grid-area: a6;
    width: 100%;
    object-fit: cover;
    display: block;
}

.imagenes-proyecto-grupo-3 {
    grid-area: imagenes-proyecto-grupo-3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 75%;
    grid-template-areas:
        "a7"
        "a8";
    gap: 1rem;
}

.a7 {
    grid-area: a7;
    width: 100%;
    object-fit: cover;
    display: block;
}

.a8 {
    grid-area: a8;
    width: 100%;
    object-fit: cover;
    display: block;
}

.form {
    text-decoration: none;
    color: inherit;
}


/*-------------------------------------------------------------------------------FOOTER*/

footer {
    grid-area: footer;
    height: 55vh;
    background-image: linear-gradient(75deg,
            var(--colorNeutro-A),
            var(--colorIndigo-A));
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.seccion-footer {
    margin-top: 2rem;
}

.h2-fraunces-footer {
    font-family: "Fraunces", "serif";
    font-variation-settings:
        "SOFT" 50;
    font-style: oblique;
    font-weight: 600;
    font-size: 4rem;
    color: var(--colorIndigo-B);
    text-align: center;
}

.h5-footer {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--colorIndigo-B);
    text-align: center;

}

.botones-footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    margin: 0 4rem;
}

.boton-linkedin {
    border-color: var(--colorIndigo-B);
}

.boton-contacto-footer {
    border-color: var(--colorIndigo-B);
    color: var(--colorIndigo-B);
}

.p-footer {
    color: var(--colorIndigo-B);
    text-align: center;
    margin-top: 6rem;
}


/*MEDIA QUERIES TABLET*/

@media (max-width: 1024px) {

    .seccion-index-header,
    .seccion-sobre-mi,
    .seccion-proyectos {
        margin: 0 3rem;
    }

    h1 {
        font-size: 4.2rem;
        line-height: 4.4rem;
    }

    .h1-fraunces {
        font-size: 3.6rem;
    }

    .seccion-sobre-mi {
        grid-template-columns: 1fr;
        grid-template-areas:
            "contenedor-seccion-sobre-mi"
            "imagen-sobre-mi";
    }

    .imagen-sobre-mi {
        height: 35rem;
    }

    .contenedor-seccion-habilidades-iconos {
        grid-template-columns: repeat(5, 1fr);
    }

    .contenedor-seccion-proyectos-boton {
        font-size: 1rem;
        justify-self: start;
        padding: -5rem 0;
    }


    .contenedor-seccion-proyectos-imagenes {
        grid-template-columns: 0 2fr 2fr;
    }

    .imagenes-proyecto-grupo-3 {
        grid-column: span 2;
    }

    footer {
        height: auto;
        padding: 4rem 0;
    }
}

/*MEDIA QUERIES MOVIL*/

@media (max-width: 768px) {

    body {
        gap: 1rem;
    }

    /* HEADER */
    .seccion-index-header {
        margin: 0 1.5rem;
        align-items: flex-end;
    }

    h1 {
        font-size: 4.7rem;
        line-height: 3.2rem;
        margin-top: 9rem;
        text-align: right;
        line-height: 4rem;
    }

    .h1-fraunces {
        font-size: 4rem;
    }

    /* SOBRE MI */
    .seccion-sobre-mi {
        grid-template-columns: 1fr;
        grid-template-areas:
            "contenedor-seccion-sobre-mi"
            "imagen-sobre-mi";
        margin: 0 1.5rem;
    }

    .imagen-sobre-mi {
        height: 20rem;
    }

    h3 {
        line-height: 3.5rem;
    }

    .h5-fraunces-origen {
        position: static;
        margin-top: -0.5rem;
    }

    .p-sobre-mi {
        margin-top: -0.2rem;
    }

    .contenedor-seccion-habilidades-iconos {
        grid-template-columns: repeat(4, 1fr);
    }

    /* PROYECTOS */
    .seccion-proyectos {
        grid-template-columns: 1fr;
        grid-template-areas:
            "titulo-proyectos"
            "boton-proyectos"
            "imagenes-proyectos";
        margin: 0 1rem;
    }

    .h2-seccion-proyectos {
        font-size: 3.8rem;
    }

    .contenedor-seccion-proyectos-boton {
        margin-top: 0;
        font-size: 1rem;
        justify-self: start;
        padding: -5rem 0;
    }

    .contenedor-seccion-proyectos-imagenes {
        margin-left: -0.7rem;
        grid-template-columns: 0 2fr 2fr;
        margin-top: 2rem;
    }

    .imagenes-proyecto-grupo-1,
    .imagenes-proyecto-grupo-2,
    .imagenes-proyecto-grupo-3 {
        grid-template-rows: auto;
    }

    /* FOOTER */
    footer {
        height: auto;
        padding: 3rem 1.5rem;
    }

    .h2-fraunces-footer {
        font-size: 2.5rem;
    }

    .botones-footer {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 2rem 0;
        display: flex;
        justify-content: center;
    }

    .p-footer {
        margin-top: 2rem;
    }
}