.fraunces, .h2-fraunces-footer, .h5-fraunces-proyectos, h4, .h5-fraunces-origen, .h1-fraunces, h6 {
  font-family: "fraunces", "serif";
  font-variation-settings: "SOFT" 50;
  font-style: oblique;
}

.imagenes-proyectos, .a8, .a7, .a6, .a5, .a4, .a3, .a2, .a1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  align-items: center;
  border-radius: 8px;
}

.fraunces, .h2-fraunces-footer, .h5-fraunces-proyectos, h4, .h5-fraunces-origen, .h1-fraunces, h6 {
  font-family: "fraunces", "serif";
  font-variation-settings: "SOFT" 50;
  font-style: oblique;
}

.imagenes-proyectos, .a8, .a7, .a6, .a5, .a4, .a3, .a2, .a1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  align-items: center;
  border-radius: 8px;
}

/*--------------------------------------------------------------------HEADER*/
.navbar-brand {
  font-family: "karla", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: #25245a;
}

.nav-link {
  font-weight: 500;
  font-size: 1.1rem;
  color: #36364D;
}

/*Fondo Header*/
.index-header {
  grid-area: header;
  height: 98vh;
  background-image: linear-gradient(45deg, #30B0C7, #25245a);
}

.seccion-index-header {
  margin: 0 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: none;
  align-items: flex-end;
  padding-top: 3rem;
}

h6 {
  font-weight: 300;
  font-size: 1.6rem;
  color: #ffffff;
  display: flex;
  align-self: self-start;
}

h1 {
  font-size: 5.6rem;
  color: #ffffff;
  font-weight: 900;
  line-height: 5rem;
  text-align: right;
  margin-top: 17rem;
}

.h1-fraunces {
  font-weight: 600;
  font-size: 4.7rem;
}

.btn-header:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.25rem 1rem rgba(234, 247, 249, 0.7);
}

.carousel-inner {
  height: 90vh;
}

.fraunces, .h2-fraunces-footer, .h5-fraunces-proyectos, h4, .h5-fraunces-origen, h6, .h1-fraunces {
  font-family: "fraunces", "serif";
  font-variation-settings: "SOFT" 50;
  font-style: oblique;
}

.imagenes-proyectos, .a8, .a7, .a6, .a5, .a4, .a3, .a2, .a1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  align-items: center;
  border-radius: 8px;
}

/*----------------------------------------------------------------Sobre Mi*/
.seccion-sobre-mi {
  grid-area: section;
  margin: 5rem 5rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: none;
  gap: 1rem;
  grid-template-areas: "contenedor-seccion-sobre-mi imagen-sobre-mi";
}

/*contenedor secciones "origen" y "habilidades"*/
.contenedor-seccion-sobre-mi {
  grid-area: contenedor-seccion-sobre-mi;
}

/*-----------------------------------SUB-SECCION: ORIGEN*/
.contenedor-seccion-origen {
  position: relative;
}

h3 {
  font-size: 3.4rem;
  color: #25245a;
  font-weight: 700;
}

.h5-fraunces-origen {
  font-size: 2.2rem;
  color: #59588F;
  font-weight: 400;
  position: absolute;
  top: 3.5rem;
  left: 14rem;
}

.p-sobre-mi {
  margin-top: 3rem;
}

/*--------------------------------SUB-SECCION: HABILIDADES*/
.contenedor-seccion-habilidades {
  margin-top: 4rem;
}

h4 {
  font-weight: 400;
  font-size: 2.8rem;
  color: #59588F;
}

.contenedor-seccion-habilidades-iconos {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: none;
  gap: none;
  justify-content: space-between;
}

/*------------------------------------SUB-SECCION: IMAGEN*/
.imagen-sobre-mi {
  grid-area: imagen-sobre-mi;
  width: 100%;
  height: 28.7rem;
  object-fit: cover;
}

.fraunces, .h2-fraunces-footer, .h5-fraunces-proyectos, h6, .h1-fraunces, .h5-fraunces-origen, h4 {
  font-family: "fraunces", "serif";
  font-variation-settings: "SOFT" 50;
  font-style: oblique;
}

.imagenes-proyectos, .a8, .a7, .a6, .a5, .a4, .a3, .a2, .a1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  align-items: center;
  border-radius: 8px;
}

/*----------------------------------------------------------------Proyectos*/
.main-index {
  height: 100%;
  grid-area: main;
  background-color: #F6F7FA;
  object-fit: cover;
  margin-bottom: 5rem;
}

.seccion-proyectos {
  margin: 0 5rem;
  display: grid;
  grid-template-columns: 10fr 2fr;
  grid-template-rows: auto 1fr;
  gap: none;
  grid-template-areas: "titulo-proyectos boton-proyectos" "imagenes-proyectos imagenes-proyectos";
}

.contenedor-seccion-proyectos {
  grid-area: titulo-proyectos;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.h5-fraunces-proyectos {
  font-size: 2.2rem;
  color: #59588F;
  font-weight: 400;
}

.h2-seccion-proyectos {
  font-size: 4.1rem;
  color: #25245a;
  font-weight: 900;
  align-self: start;
  margin-top: -1rem;
}

.contenedor-seccion-proyectos-boton {
  grid-area: boton-proyectos;
  border-color: #25245a;
  color: #25245a;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1rem;
}

.contenedor-seccion-proyectos-boton:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.25rem 1rem rgba(89, 88, 143, 0.7);
}

.contenedor-seccion-proyectos-imagenes {
  margin-top: 2rem;
  grid-area: imagenes-proyectos;
  display: grid;
  grid-template-columns: reapeat 3, 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  grid-template-areas: "imagenes-proyecto-grupo-1 imagenes-proyecto-grupo-2 imagenes-proyecto-grupo-3";
}

.imagenes-proyecto-grupo-1 {
  grid-area: imagenes-proyecto-grupo-1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 40% 40%;
  gap: 1rem;
  grid-template-areas: "a1" "a2" "a3";
}

.a1 {
  grid-area: a1;
}

.a2 {
  grid-area: a2;
}

.a3 {
  grid-area: a3;
}

.imagenes-proyecto-grupo-2 {
  grid-area: imagenes-proyecto-grupo-2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 30% 30%;
  gap: 1rem;
  grid-template-areas: "a4" "a5" "a6";
}

.a4 {
  grid-area: a4;
}

.a5 {
  grid-area: a5;
}

.a6 {
  grid-area: a6;
}

.imagenes-proyecto-grupo-3 {
  grid-area: imagenes-proyecto-grupo-3;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45% 56.3%;
  gap: 1rem;
  grid-template-areas: "a7" "a8";
}

.a7 {
  grid-area: a7;
}

.a8 {
  grid-area: a8;
}

.form {
  text-decoration: none;
  color: inherit;
}

.carousel-inner {
  height: auto;
}

.fraunces, .h2-fraunces-footer, h6, .h1-fraunces, .h5-fraunces-origen, h4, .h5-fraunces-proyectos {
  font-family: "fraunces", "serif";
  font-variation-settings: "SOFT" 50;
  font-style: oblique;
}

.imagenes-proyectos, .a1, .a2, .a3, .a4, .a5, .a6, .a7, .a8 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  align-items: center;
  border-radius: 8px;
}

/*-------------------------------------------------------------------------------FOOTER*/
footer {
  margin-bottom: 1rem;
  grid-area: footer;
  height: 55vh;
  background-image: linear-gradient(75deg, #1E1E37, #25245a);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.seccion-footer {
  margin-top: 2rem;
}

.h2-fraunces-footer {
  font-weight: 600;
  font-size: 4rem;
  color: #59588F;
  text-align: center;
}

.h5-footer {
  font-size: 2.2rem;
  font-weight: 700;
  color: #59588F;
  text-align: center;
}

.botones-footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  margin: 0 4rem;
}

.boton-linkedin {
  border-color: #59588F;
}

.boton-linkedin:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.25rem 1rem rgba(89, 88, 143, 0.7);
}

.boton-contacto-footer {
  border-color: #59588F;
  color: #59588F;
}

.boton-contacto-footer:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.25rem 1rem rgba(89, 88, 143, 0.7);
}

.p-footer {
  color: #59588F;
  text-align: center;
  margin-top: 6rem;
}

/*MEDIA QUERIES TABLET*/
@media (max-width: 1100px) {
  .seccion-index-header,
  .seccion-sobre-mi,
  .seccion-proyectos {
    margin: 0 3rem;
  }
  h1 {
    font-size: 4.4rem;
    line-height: 4.4rem;
  }
  .h1-fraunces {
    font-size: 3.6rem;
  }
  .seccion-sobre-mi {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    gap: none;
    grid-template-areas: "contenedor-seccion-sobre-mi" "imagen-sobre-mi";
  }
  .imagen-sobre-mi {
    height: 35rem;
  }
  .contenedor-seccion-habilidades-iconos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: none;
    gap: none;
  }
  .contenedor-seccion-proyectos-boton {
    font-size: 1rem;
    justify-self: start;
    padding: -5rem 0;
  }
  .contenedor-seccion-proyectos-imagenes {
    display: grid;
    grid-template-columns: 0 2fr 2fr;
    grid-template-rows: none;
    gap: none;
  }
  .imagenes-proyecto-grupo-3 {
    display: grid;
    grid-template-columns: span 2;
    grid-template-rows: none;
    gap: none;
  }
  footer {
    height: auto;
    padding: 4rem 0;
  }
}
/*MEDIA QUERIES MOVIL*/
@media (max-width: 768px) {
  body {
    gap: 1rem;
  }
  /* HEADER */
  .seccion-index-header {
    margin: 0 1.5rem;
    align-items: flex-end;
  }
  h1 {
    font-size: 4.7rem;
    line-height: 3.2rem;
    margin-top: 9rem;
    text-align: right;
    line-height: 4rem;
  }
  .h1-fraunces {
    font-size: 4rem;
  }
  /* SOBRE MI */
  .seccion-sobre-mi {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    gap: none;
    grid-template-areas: "contenedor-seccion-sobre-mi" "imagen-sobre-mi";
    margin: 0 1.5rem;
  }
  .imagen-sobre-mi {
    height: 100%;
    object-fit: cover;
    display: block;
  }
  h3 {
    line-height: 3.5rem;
  }
  .h5-fraunces-origen {
    position: static;
    margin-top: -0.5rem;
  }
  .p-sobre-mi {
    margin-top: -0.2rem;
  }
  .contenedor-seccion-habilidades-iconos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    gap: none;
  }
  /* PROYECTOS */
  .seccion-proyectos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    gap: none;
    grid-template-areas: "titulo-proyectos" "boton-proyectos" "imagenes-proyectos";
    margin: 0 1rem;
  }
  .h2-seccion-proyectos {
    font-size: 3.8rem;
  }
  .contenedor-seccion-proyectos-boton {
    margin-top: 1rem;
    font-size: 1rem;
    justify-self: start;
    padding: -5rem 0;
  }
  .contenedor-seccion-proyectos-imagenes {
    margin-left: -0.7rem;
    display: grid;
    grid-template-columns: 0 2fr 2fr;
    grid-template-rows: none;
    gap: none;
    margin-top: 1rem;
  }
  .imagenes-proyecto-grupo-1,
  .imagenes-proyecto-grupo-2,
  .imagenes-proyecto-grupo-3 {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    gap: none;
  }
  /* FOOTER */
  footer {
    height: auto;
    padding: 3rem 1.5rem;
  }
  .h2-fraunces-footer {
    font-size: 2.5rem;
  }
  .botones-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
    gap: none;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
  }
  .p-footer {
    margin-top: 2rem;
  }
}
* {
  font-family: "karla", "sans-serif";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 0;
  grid-template-areas: "header" "section" "main" "footer";
}

button {
  font-size: 1.4rem;
  font-weight: 700;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
  margin-top: 1.5rem;
  color: #ffffff;
  border: 1.8px, solid #ffffff;
}

/*# sourceMappingURL=style.css.map */
