@import "./utilities/extends";
@import "./utilities/mixins";
@import "./utilities/variables";
@import "./layout/header";
@import "./layout/sobremi";
@import "./layout/proyectos";
@import "./layout/footer";
@import "./layout/v-tablet";
@import "./layout/v-movil";



* {
    font-family: "karla", "sans-serif";
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    @include display-grid (grid, 1fr, auto auto auto auto, 0);
    grid-template-areas:
        "header"
        "section"
        "main"
        "footer";

}

button {
    font-size: 1.4rem;
    font-weight: 700;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    margin-top: 1.5rem;
    color: $colorBlanco;
    border: 1.8px, solid $colorBlanco;
}

