@import "./utilities/extends";
@import "./utilities/mixins";
@import "./utilities/variables";
@import "./layout/header";
@import "./layout/sobremi";
@import "./layout/proyectos";
@import "./layout/footer";



* {
    font-family: "karla", "sans-serif";
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    @include display-grid (grid, 1fr, auto auto auto auto, 2rem);
    grid-template-areas:
        "header"
        "section"
        "main"
        "footer";

}