@import "./utilities/extends";
@import "./utilities/mixings";
@import "./utilities/variables";
@import "./layout/header";
@import "./layout/sobremi";
@import "./layout/proyectos";
@import "./layout/footer";



* {
    font-family: "karla", "sans-serif";
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "section"
        "main"
        "footer";
    gap: 2rem;

}