.fraunces {
    font-family: "fraunces", "serif";
    font-variation-settings:
        "SOFT" 50;
    font-style: oblique;
}

.imagenes-proyectos {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    align-items: center;
    border-radius: 8px;

}