@mixin display-flex ($display-f, $f-direction, $f-wrap, $justify-content, $align-items) {
        display: $display-f;
    flex-direction: $f-direction;
    flex-wrap: $f-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin display-grid ($d-grid, $grid-columns, $grid-rows, $gap) {
        display: $d-grid;
    grid-template-columns: $grid-columns;
    grid-template-rows: $grid-rows;
    gap: $gap;
}