$colorBlanco: #ffffff;
$colorIndigo-A: #25245a;
$colorIndigo-B: #59588F;
$colorIndigo-C: #EEEEFB;
$colorTeal-A: #30B0C7;
$colorTeal-B: #A0DBE5;
$colorTeal-C: #EAF7F9;
$colorNeutro-A: #1E1E37;
$colorNeutro-B: #36364D;
$colorNeutro-C: #9898B2;
$colorNeutro-D: #F6F7FA;
