@import "../utilities/extends";
@import "../utilities/mixins";
@import "../utilities/variables";

/*-------------------------------------------------------------------------------FOOTER*/

footer {
    margin-bottom: 1rem;
    grid-area: footer;
    height: 55vh;
    background-image: linear-gradient(75deg,
            $colorNeutro-A,
            $colorIndigo-A);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.seccion-footer {
    margin-top: 2rem;
}

.h2-fraunces-footer {
    @extend .fraunces;
    font-weight: 600;
    font-size: 4rem;
    color: $colorIndigo-B;
    text-align: center;
}

.h5-footer {
    font-size: 2.2rem;
    font-weight: 700;
    color: $colorIndigo-B;
    text-align: center;

}

.botones-footer {
    @include display-grid (grid, 1fr 2fr, 1fr, 2rem);
    margin: 0 4rem;
}


.boton-linkedin {
    border-color: $colorIndigo-B;
}

.boton-linkedin:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.25rem 1rem transparentize($colorIndigo-B, 0.3);
}


.boton-contacto-footer {
    border-color: $colorIndigo-B;
    color: $colorIndigo-B;
}

.boton-contacto-footer:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.25rem 1rem transparentize($colorIndigo-B, 0.3);
}

.p-footer {
    color: $colorIndigo-B;
    text-align: center;
    margin-top: 6rem;
}