@import "../utilities/extends";
@import "../utilities/mixins";
@import "../utilities/variables";


/*--------------------------------------------------------------------HEADER*/

.navbar-brand {
    font-family: "karla", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: $colorIndigo-A;
}

.nav-link {
    font-weight: 500;
    font-size: 1.1rem;
    color: $colorNeutro-B;

}

/*Fondo Header*/
.index-header {
    grid-area: header;
    height: 98vh;
    background-image: linear-gradient(45deg,
            $colorTeal-A,
            $colorIndigo-A);

}

.seccion-index-header {
    margin: 0 5rem;
    @include display-flex (flex, column, wrap, none, flex-end);
    padding-top: 3rem;
}


h6 {
    @extend .fraunces;
    font-weight: 300;
    font-size: 1.6rem;
    color: $colorBlanco;
    display: flex;
    align-self: self-start;
}

h1 {
    font-size: 5.6rem;
    color: $colorBlanco;
    font-weight: 900;
    line-height: 5rem;
    text-align: right;
    margin-top: 17rem;

}

.h1-fraunces {
    @extend .fraunces;
    font-weight: 600;
    font-size: 4.7rem;
}

button {
    font-size: 1.4rem;
    font-weight: 700;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    margin-top: 1.5rem;
    color: $colorBlanco;
    border: 1.8px, solid $colorBlanco;
}

.carousel-inner {
    height: 90vh;
}