@import "../utilities/extends";
@import "../utilities/mixins";
@import "../utilities/variables";

/*----------------------------------------------------------------Proyectos*/

.main-index {
    grid-area: main;
    background-color: $colorNeutro-D;
}

.seccion-proyectos {
    margin: 0 5rem;
    @include display-grid (grid, 10fr 2fr, auto 1fr, none);
    grid-template-areas:
        "titulo-proyectos boton-proyectos"
        "imagenes-proyectos imagenes-proyectos";
}

.contenedor-seccion-proyectos {
    grid-area: titulo-proyectos;
    margin-top: 2rem;
    @include display-flex (flex, column, wrap, flex-start, flex-start);
    position: relative;

}


.h5-fraunces-proyectos {
    @extend .fraunces;
    font-size: 2.2rem;
    color: $colorIndigo-B;
    font-weight: 400;
}

.h2-seccion-proyectos {
    font-size: 4.1rem;
    color: $colorIndigo-A;
    font-weight: 900;
    align-self: start;
    margin-top: -1rem;
}

.contenedor-seccion-proyectos-boton {
    grid-area: boton-proyectos;
    border-color: $colorIndigo-A;
    color: $colorIndigo-A;
    margin-top: 5rem;
    @include display-flex (flex, column, wrap, center, center);
    position: relative;
    top: -1rem;

}

.contenedor-seccion-proyectos-imagenes {
    margin-top: 2rem;
    grid-area: imagenes-proyectos;
    @include display-grid (grid, reapeat (3, 1fr), 1fr, 1rem);
    grid-template-areas:
        "imagenes-proyecto-grupo-1 imagenes-proyecto-grupo-2 imagenes-proyecto-grupo-3";

}

.imagenes-proyecto-grupo-1 {
    grid-area: imagenes-proyecto-grupo-1;
    @include display-grid (grid, 1fr, 20% 40% 40%, 1rem);
    grid-template-areas:
        "a1"
        "a2"
        "a3";
}

.a1 {
    grid-area: a1;
    @extend .imagenes-proyectos;
}

.a2 {
    grid-area: a2;
    @extend .imagenes-proyectos;
}

.a3 {
    grid-area: a3;
    @extend .imagenes-proyectos;
}

.imagenes-proyecto-grupo-2 {
    grid-area: imagenes-proyecto-grupo-2;
    @include display-grid (grid, 1fr, 40% 30% 30%, 1rem);
    grid-template-areas:
        "a4"
        "a5"
        "a6";
}

.a4 {
    grid-area: a4;
    @extend .imagenes-proyectos;
}

.a5 {
    grid-area: a5;
    @extend .imagenes-proyectos;
}

.a6 {
    grid-area: a6;
    @extend .imagenes-proyectos;
}

.imagenes-proyecto-grupo-3 {
    grid-area: imagenes-proyecto-grupo-3;
    height: 100%;
    @include display-grid (grid, 1fr, 45% 56.3%, 1rem);
    grid-template-areas:
        "a7"
        "a8";
}

.a7 {
    grid-area: a7;
    @extend .imagenes-proyectos;
}

.a8 {
    grid-area: a8;
    @extend .imagenes-proyectos;
}

.form {
    text-decoration: none;
    color: inherit;
}